.bookmarks {
  width: 500px;
  height: 340px;
  margin-right: 0;
  display: flex;
  &-wrapper {
    width: 480px;
    margin-right: 0px;
  }
  &-controller {
    transition: 0.2s ease-in;
    color: rgba($color: #fafafa, $alpha: 0.4);
    text-align: center;
    line-height: 42px;
    font-size: 1.1em;
    cursor: pointer;
    &:hover {
      transition: 0.2s ease-in;
      color: #fafafa;
      transform: scale(1.1);
    }

    outline: none;
  }
}
