.bookmarks {
  width: 480px;
  &-controller {
    right: 8px;
    top: 230px;
    position: absolute;
    transition: 0.2s ease-in;
    color: rgba($color: #fafafa, $alpha: 0.4);
    text-align: center;
    line-height: 42px;
    font-size: 1.1em;
    cursor: pointer;
    &:hover {
      transition: 0.2s ease-in;
      color: #fafafa;
      transform: scale(1.1);
    }

    outline: none;
  }
}
