.bookmarkitem {
  transition: 0.15s ease-in;
  height: 40px;
  width: 38px;
  font-size: 1.8em;
  margin-top: 8px;
  margin-right: 5px;
  color: rgba($color: #fafafa, $alpha: 0.7);
  display: inline-block;
  cursor: pointer;
  text-align: center;
  &:hover {
    transition: 0.15s ease;
    transform: scale(1.15);
    color: rgba($color: #fafafa, $alpha: 1);
    opacity: 1;
    .bookmarkitem-text {
      color: white;
      opacity: 1;
    }
  }
  &-text {
    width: 30px;
    height: 20px;
    transition: 0.3s ease;
    margin: 2px 0px;
    font-size: 0.45em;
    position: relative;
    text-align: center;
    opacity: 0;
    font-family: 'Roboto';
    text-decoration: none;
    margin-left: 2px;
    &-delete {
      margin-left: -15px;
      font-size: 1em;
      position: absolute;
      text-align: left;
      flex-direction: column;
      color: rgba($color: red, $alpha: 0.7);
      opacity: 0;
      line-height: 16px;
      transition: 0.2s ease;
      &:hover {
        transition: 0.2s ease;
        opacity: 1;
        color: red;
        transform: scale(1.2);
      }
    }
    &:hover > .bookmarkitem-text-delete {
      opacity: 0.6;
      transition: 0.4s ease;
    }
  }
}
a {
  text-decoration: none;
}
