.bookmarkitem {
  transition: 0.15s ease-in;
  height: 40px;
  width: 50px;
  font-size: 1.8em;
  margin-top: 8px;
  margin-right: 5px;
  color: rgba($color: #fafafa, $alpha: 0.7);
  display: inline-block;
  text-align: center;
  &:hover {
    transition: 0.15s ease;
    transform: scale(1.15);
    color: rgba($color: #fafafa, $alpha: 1);
    opacity: 1;
    .bookmarkitem-text {
      color: white;
      opacity: 1;
    }
  }
  &-text {
    width: 80px;
    height: 30px;
    overflow: hidden;
    transition: 0.3s ease;
    margin: 2px 0px;
    font-size: 0.45em;
    position: relative;
    text-align: left;
    opacity: 0;
    font-family: 'Roboto';
    text-decoration: none;
  }
}
a {
  text-decoration: none;
}
